.btn-add {
  background-color: #ffd814;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, 0.5);
  color: #0f1111;
  border-color: transparent;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: #f7ca00;
  }
}
