.quantity {
  button {
    color: #ffff;
    background-color: var(--header-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-color: transparent;
    font-size: 1rem;
    cursor: pointer;
  }

  span {
    font-size: 1rem;
  }

  .quantity-plus {
    margin-left: 5px;
  }

  .quantity-minus {
    margin-right: 5px;
  }
}
