@import '../abstracts/variables';

:root {
  --background-color: #{$background-color};
  --header-color: #{$header-color};
  --height-header: #{$height-header};
  --font-family: #{$font-family};
  --secondary-color: #{$secondary-color};
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
